<div class="container-fill bg-dark">
  <div class="row">
    <div class="col-8">
      <h2 style="color:white;font-weight: bold;padding-left: 0.5cm;padding-bottom: 0.25cm;padding-top: 0.25cm;">Waiting List</h2>
    </div>
    <div class="col-2" style="padding-top: 0.5cm;">
      <input type="text" [(ngModel)]="password_input" placeholder="password" (keydown.enter)="executeEnter()" >
    </div>
    <div class="col-2" style="padding-top: 0.4cm;">
      <button *ngIf="isAdmin == false" type="button" class="btn btn-primary"  >Login
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </button>
      <button *ngIf="isAdmin == true" type="button" class="btn btn-danger"  >sign out
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<br>
<div class="container">

  <div class="row">
    <div class="row col-8">
      <ul style="list-style-type: none;">
        <li *ngFor="let card of cards" >
          <app-card [card]="card" [isAdmin]="isAdmin"></app-card>
          <br>
        </li>
      </ul>
    </div>
    <div class="col-4" *ngIf="isAdmin">
      


  <div class="form-row" >
    <div class="form-group col-md-6">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)] = "firstname" placeholder="first name">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)] = "lastname" placeholder="last name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="illness">Illness</label>
      <input type="text" class="form-control" id="illness" [(ngModel)] = "illness" placeholder="illness">
    </div>
    <div class="form-group col-md-6">
      <label for="priority">priority</label>
      <input type="number" class="form-control" id="priority" [(ngModel)] = "priority" placeholder="priority">
    </div>
  </div>
  <div>
    <span style="color:red;">{{message}}</span>
  </div>
  <br>
    <button type="button" class="btn btn-success" (click)="addCard()">Add</button>
    </div>
  </div>
</div>